@using Wlog.Web.Code.Helpers
@model List<Wlog.Library.BLL.Classes.JobConfiguration>
@{
    ViewBag.Title = "Background Jobs Management";
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
}

<h2>Background Jobs Management</h2>

<div class="container">
    @Html.ValidationMessage("Error", new { @class= "alert-danger" })
    <br />
    <div class="row">
        <div class="col-md-2"><h3>Job name</h3></div>
        <div class="col-md-6"><h3>Description</h3></div>
    </div>
    <br />
    @for (int i = 0; i < Model.Count; i++)
    {
        using (Html.BeginForm("ManageBackgroundJobs", "Private", FormMethod.Post))
        {

            <div class="row">
                <div class="col-md-2">@Html.DisplayFor(m => Model[i].JobName, new { Name = "JobName" })</div>
                <div class="col-md-4">
                    @Html.DisplayFor(m => Model[i].Description, new { Name = "Description" })
                </div>
                <div class="col-md-4">
                    <div class="row">
                        @Html.HiddenFor(m => Model[i].JobInstanceId, new { Name = "JobInstanceId" })
                        @Html.HiddenFor(m => Model[i].FullClassName, new { Name = "FullClassName" })
                        @Html.HiddenFor(m => Model[i].Instantiable, new { Name = "Instantiable" })
                        <div class="input-group" style="width: 100%">
                            @Html.TextBoxFor(m => Model[i].CronExpression, new { Name = "CronExpression", @class = "form-control" })
                            <span class="input-group-addon">@Html.CheckBoxFor(m => Model[i].Active, new { Name = "Active" })</span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <button type="submit" class="btn btn-danger" name="command" value="@ButtonCommands.Run">Run job</button>
                        <button class="btn btn-success" type="submit" name="command" value="@ButtonCommands.Edit">Update</button>
                    </div>
                </div>
            </div>
            <br />
        }
    }
</div>