@model List<Wlog.Library.BLL.Classes.JobConfiguration>
@{
    ViewBag.Title = "BackgroundJobs";
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
}

<h2>BackgroundJobs</h2>

<div class="container">
    <div class="row">
        <div class="col-md-2"><h3>Job name</h3></div>
        <div class="col-md-6"><h3>Description</h3></div>
    </div>
    <br />
    @Html.ValidationMessage("Error")
    @for (int i = 0; i < Model.Count; i++)
    {
        using (Html.BeginForm("EditBackgroundJobs", "Private", FormMethod.Post))
        {

            <div class="row">
                <div class="col-md-2">@Html.LabelFor(m => Model[i].JobName, new { name = "JobName" })</div>
                <div class="col-md-4">
                    @Html.LabelFor(m => Model[i].Description, new { name = "Description" })
                </div>
                <div class="col-md-4">
                    <div class="row">
                        @Html.HiddenFor(m => Model[i].JobInstanceId, new { Name = "JobInstanceId" })
                        @Html.HiddenFor(m => Model[i].FullClassName, new { Name = "FullClassName" })
                        <div class="input-group" style="width: 100%">
                            @Html.TextBoxFor(m => Model[i].CronExpression, new { Name = "CronExpression", @class = "form-control" })
                            <span class="input-group-addon">@Html.CheckBoxFor(m => Model[i].Active, new { Name = "Active" })</span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <button type="button" class="btn btn-danger">Run job</button>
                        <button class="btn btn-success" type="submit">Update</button>
                    </div>
                </div>
            </div>
            <br />
        }
    }
</div>