@model  Wlog.Web.Models.User.EditUser

@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
}

<div class="row">
    <h2>@Html.DisplayFor(model => model.DataUser.Username)</h2>
    @using (Html.BeginForm("EditUser", "Private", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model=>model.DataUser.Id)
        @Html.HiddenFor(model=>model.DataUser.Username)
        @Html.HiddenFor(model=>model.DataUser.Password)
        <fieldset>
            <legend></legend>
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.DataUser.Username, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.DisplayFor(model => model.DataUser.Username, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DataUser.Email, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.EditorFor(model => model.DataUser.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DataUser.IsAdmin, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.DisplayFor(model => model.DataUser.IsAdmin, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DataUser.CreationDate, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.DisplayFor(model => model.DataUser.CreationDate, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DataUser.LastLoginDate, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.DisplayFor(model => model.DataUser.LastLoginDate, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div>
                <table class="table">
                    <tr>
                        <th>Application
                        </th>
                        <th>Role
                        </th>
                    </tr>
                    @foreach (var item in Model.Apps)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Application.ApplicationName)
                            </td>
                            <td>
                                @Html.DropDownListFor(modelItem => item.Role.Id, new SelectList(Model.RoleList, "Id", "RoleName", item.Role.Id))
                            </td>
                        </tr>
                    }
                </table>
            </div>

            <p>
                @Html.ActionLink("Back to List", "ListUsers", null, new { @class = "btn btn-success" })
                <input type="submit" value="Save" class="btn btn-warning" />
                @Html.ActionLink("Delete User", "DeleteUser", new { Id = Model.DataUser.Id }, new { @class = "btn btn-danger" })
            </p>
        </fieldset>
    }

</div>

