<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/metisMenu.css")
    @Styles.Render("~/Content/timeline.css")
    @Styles.Render("~/Content/sb-admin-2.css")
    @Styles.Render("~/Content/morris.css")
    @Styles.Render("~/Content/font-awesome.css")
    @Styles.Render("~/Content/Site.css")

    @Scripts.Render("~/Scripts/jquery-1.8.2.min.js")
    @Scripts.Render("~/Scripts/metisMenu.min.js")



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        /*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */

body, html{
     height: 100%;
 	background-repeat: no-repeat;
 	background-color: #d3d3d3;
 
}

.main{
 	margin-top: 70px;
}

h1.title { 
	font-size: 50px;
	
	font-weight: 400; 
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
    padding: 40px 40px;

}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}

    </style>
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="margin-bottom: 0">
            <div class="container-fluid">
                <div class="navbar-header navbar-right">
                    <a class="navbar-brand" href="#">
                        <img src="/Content/images/logo.png" width="32" height="32" />
                    </a>
                    </div>
                    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">


                        <ul class="nav navbar-nav">
                            <li><a href="https://github.com/arduosoft/wlog"> Wlog, the log portal </a></li>


                            <li><a href="https://github.com/arduosoft/wlog/wiki" class="pull-right">Help</a></li>
                            <li><a href="https://github.com/arduosoft/wlog/issues" class="pull-right">Open an Issue</a></li>
                            </ul>

                           

</div>
                
            </div>
               
          
</nav>
        <div class="container">
            @RenderBody()
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->







    @Scripts.Render("~/Scripts/bootstrap.min.js")
    <!-- Metis Menu Plugin JavaScript -->
    @Scripts.Render("~/Scripts/metisMenu.min.js")
    <!-- Morris Charts JavaScript -->
    @Scripts.Render("~/Scripts/raphael-min.js")
    @Scripts.Render("~/Scripts/morris.min.js")
    <!-- Custom Theme JavaScript -->
    @Scripts.Render("~/Scripts/sb-admin-2.js")
    @RenderSection("scripts", required: false)
</body>
</html>
