@model PagedList.IPagedList<Wlog.Web.Models.LogModel>
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
}



    <div class="row">
        <h1>Log Messages</h1>
        @using (Html.BeginForm("Index", "Log", FormMethod.Get))
        {
            @Html.TextBox("ApplicationId", ViewBag.ApplicationId as string, new { @class = "hidden" })
            <p>
                Find Message: @Html.TextBox("SerchMessage", ViewBag.CurrentFilter as string)
                <input type="submit" value="Search" class="btn btn-default" />
            </p>
        }
    </div>
    <div class="row">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>
                        @Html.ActionLink("Date", "Index", new {ApplicationId=ViewBag.ApplicationId, sortOrder = ViewBag.DateSortParm, ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("Level", "Index", new {ApplicationId=ViewBag.ApplicationId, sortOrder = ViewBag.LevelSortParm, ViewBag.CurrentFilter })
                    </th>
                    <th>Message
                    </th>
                </tr>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(x => item.SourceDate)
                        </td>
                        <td>
                            @Html.DisplayFor(x=>item.Level)
                        </td>
                        <td>
                            @Html.DisplayFor(x=>item.Message)
                        </td>
                    </tr>
                }
            </thead>
            <tbody></tbody>
        </table>
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>

