@model Wlog.Web.Models.Password

<h3>Change Password</h3>

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

        <div class="form-group">
            <label class="col-lg-3 control-label">
                @Html.LabelFor(m => m.OldPassword)
            </label>
            <div class="col-lg-9">
                @Html.EditorFor(model => model.OldPassword, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.OldPassword)
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">
                @Html.LabelFor(m => m.NewPassword)
            </label>
            <div class="col-lg-9">
                @Html.EditorFor(model => model.NewPassword, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </label>
            <div class="col-lg-9">
                @Html.EditorFor(model => model.ConfirmPassword, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>


    <div class="form-group">
        <div class="col-sm-2">
            @Html.ActionLink("Back", "Index", "Private", null, new { @class = "btn btn-success" })
        </div>
        <div class=" col-sm-10">
            <p>

                <input type="submit" value="Change Password" class="btn btn-warning" />
            </p>
        </div>
   </div>
}
