@model Wlog.Web.Models.LocalPasswordModel

<p>
    Non si dispone di una password locale per questo sito. Aggiungere una
    password locale per accedere senza account di accesso esterno.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Form Imposta password</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Imposta password" />
    </fieldset>
}
