@model Wlog.Web.Models.LoginModel

@{
    ViewBag.Title = "";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>


<div class="row main">
    <div class="panel-heading">
        <div class="panel-title text-center">

            <h1 class="title">  WLOG</h1>

        </div>
    </div>
    <div class="main-login main-center">

        <h3>Login into account.</h3>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post, new { @class = "form-horizontal" }))
            {
            @Html.AntiForgeryToken()
           
         

            <fieldset>

                <div class="form-group">

                  
                     
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username" })
                            </div>
                                @Html.ValidationMessageFor(m => m.UserName)
                           
                    
                </div>
                <div class="form-group">

                    
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        </div>

                      @Html.ValidationMessageFor(m => m.Password)
                </div>

                   

              
                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Login</button>
                </div>


               
                @*                <div class="col-lg-10 col-lg-offset-2" style="padding-top: 10px;">
                        <p>
                            @Html.ActionLink("Registrazione", "Register") se non si dispone di un account.
                        </p>
                    </div>*@
            </fieldset>

            <div class="col-lg-4">
            </div>

        }

    </div>
</div>


<script type="text/javascript">

$(function () {

    $("span.field-validation-valid, span.field-validation-error").addClass('help-block');
    $("div.form-group").has("span.field-validation-error").addClass('has-error');
    $("div.validation-summary-errors").has("li:visible").addClass("alert alert-block alert-error");

});

</script>

